apiVersion: apps/v1
kind: Deployment
metadata:
  name: management-api
spec:
  selector:
    matchLabels:
      app: management-api
  template:
    metadata:
      labels:
        app: management-api
    spec:
      topologySpreadConstraints:
      - topologyKey: topology.kubernetes.io/zone
        labelSelector:
          matchLabels:
            app: management-api
        matchLabelKeys: #same replicaset only
          - pod-template-hash
        maxSkew: 1
        whenUnsatisfiable: ScheduleAnyway
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - management-api
              topologyKey: kubernetes.io/hostname
            weight: 100
      containers:
        - name: management-api
          image: management-api:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8080"
            - name: KAFKA_BROKERS
              value: "kafka.default.svc.cluster.local:9092"
            - name: MONGODB_URI
              value: "mongodb://mongodb.default.svc.cluster.local:27017/purchases"
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "100m"
          ports:
            - name: http
              containerPort: 8080
          # livenessProbe:
          #   httpGet:
          #     path: /health
          #     port: 8080
          #   initialDelaySeconds: 10
          # readinessProbe:
          #   httpGet:
          #     path: /ready
          #     port: 8080
          #   initialDelaySeconds: 10
          #   timeoutSeconds: 5
          #   failureThreshold: 3
