apiVersion: v1
kind: Service
metadata:
  name: management-api
  labels:
    app: management-api
spec:
  selector:
    app: management-api
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: http
