apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server
spec:
  selector:
    matchLabels:
      app: web-server
  template:
    metadata:
      labels:
        app: web-server
    spec:
      topologySpreadConstraints:
      - topologyKey: topology.kubernetes.io/zone
        labelSelector:
          matchLabels:
            app: web-server
        matchLabelKeys:
          - pod-template-hash
        maxSkew: 1
        whenUnsatisfiable: ScheduleAnyway
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - web-server
              topologyKey: kubernetes.io/hostname
            weight: 100
      containers:
        - name: web-server
          image: web-server:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8080"
            - name: KAFKA_BROKERS
              value: "kafka.kafka.svc.cluster.local:9092"
            - name: MANAGEMENT_API_URL
              value: "http://management-api.default.svc.cluster.local:8080"
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "100m"
          ports:
            - name: http
              containerPort: 8080
